
<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a [routerLink]="[ '/' ]">
        <img src="/assets/logo.png" alt="logo">
        <h1>HolePunch</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="swap" nzTheme="outline"></i>
        <span><a routerLink="/dashboard/services">Services Manage</a></span>
      </li>

      <li nz-submenu nzOpen nzTitle="System Manage" nzIcon="setting" nzTheme="outline">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/system/connStatus"><i nz-icon nzType="share-alt" nzTheme="outline"></i>Connection Status</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/system/user"><i nz-icon nzType="user" nzTheme="outline"></i>User Manage</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard/system/user-group"><i nz-icon nzType="team" nzTheme="outline"></i>User Group Manage</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <div class="right-menu"><button nz-button nzType="primary" (click)="exitDashboard()">Exit dashboard</button></div>

      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
