<div class="background">
  <div class="login-form">
    <nz-result
      [nzIcon]="icon"
      [nzTitle]="statusTitle"
      [nzSubTitle]="statusDesc"
    >
      <div nz-result-extra>
        <button nz-button nzType="primary" (click)="goToDashboard()" [hidden]="!isAdmin">Go Dashboard</button>
        <button nz-button (click)="openMyServices()">My Services</button>
        <button nz-button nzType="primary" nzDanger (click)="logout()">Logout</button>
      </div>
    </nz-result>
  </div>
</div>
<nz-modal
  [nzVisible]="showMyServices"
  nzTitle="My Services"
  (nzOnCancel)="showMyServices=false"
>
  <div *nzModalContent>
    <ul>
      <li *ngFor="let service of services">{{service.name}}({{service.realPort}}/{{service.protocol}})</li>
    </ul>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="showMyServices=false"  >Close</button>
  </div>
</nz-modal>
