<div class="background">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <p style="text-align: center"><img src="/assets/logo.png" width="100px"></p>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your account!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="account" placeholder="Account" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
  </form>
</div>
